.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}
header{
    height: 100px;
    padding: 0 60px;
    background: rgb(158, 241, 247);
    margin-bottom:20px;
    
}

header .logo {
  width: 80px;
   
}


header .logo  img{ 
    border: 2px solid red;  
    height: 100%;
    width: 100%;
}
.header_container{
    display: flex;
    justify-content: space-between;
}
.nev {
    display: flex;
    align-items: center;
}
.nev ul {
    display: flex;
}
.nev ul li{
    margin: 0 15px;
    list-style: none;
}
.nev ul li a{
    text-decoration:none;
    color:rgb(12, 12, 14);
    font-weight: bold;
    font-size: 25px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(158, 241, 247);
}
.left{
    float: left;
    width: 50%;
    margin: 0px 0px 40px 5px;

   
}

.img{
    margin-bottom: 60px;
    margin: 10px;
    padding: 15px;


}

button{
    margin-top: 15px;
    font-size: 15px;
    background-color: rgb(7, 184, 184);
    border: none;
}
.aboutus{
    border: 2px solid red;
    height: 400px;
    width: 1200px;
    margin: 20px;
    text-decoration: none;
    text-align: left;
    font-size: large;

}
.kabi img{
    border: 5px solid black;
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content:flex-end;
    float: fle;
  
}
.aboutus p{
    margin: 2px;
    padding: 2px;
}